.cases,
.deaths,
.recovered,
.critical {
  padding: 15px;
}

.cases {
  /* background-color: transparent; */
  border: 8px solid #604cd4 !important;
}

.deaths {
  /* background-color: transparent; */
  border: 8px solid #f36 !important;
}

.recovered {
  /* background-color: transparent; */
  border: 8px solid #1dd1a1 !important;
}
.critical {
  /* background-color: transparent; */
  border: 8px solid #eeba11 !important;
}

.rotate {
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.svgLogo {
  max-width: 10vw;
  height: auto;
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.svgMinLogo {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
